@import './base.css';

* {
  transition: all 0.1s ease-in-out;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

input[type=text] {
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

input[type=date] {
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

ul {
  list-style-type: none;
}

button {
  max-width: 120px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}


button:hover {
  background-color: gray;
  color: white;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

table {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

th {
  border-bottom: 1px solid lightgray;
}
td {
  border-bottom: 1px solid gray;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
